@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.app {
  display: flex;
  height: 100vh;
  width: 100%;
}

.generateBtn {
  height: 7vh;
  transition: 0.2s ease-in-out;
  display: none !important;
  width: 100%;
  font-size: 20px;
}

.colors {
  display: flex;
  height: 100vh;
}

.generateBtnWrap {
  height: 7vh;
}

@media screen and (max-width: 1200px) {
  .colors {
    display: flex;
    flex-direction: column;
    height: 93vh;
  }

  .app {
    display: flex;
    flex-direction: column;
  }

  .generateBtn {
    display: block !important;
  }
}